* {
    background-color: rgb(221, 221, 221);
    box-sizing: border-box;
    overflow: auto;
    font-family: Microsoft Yahei;
}
h1.welcome {
    align-self: end;
    justify-self: center;
}
h1.countdown {
    align-self: center;
    justify-self: center;
    text-align: center;
}
h1.rank {
    align-self: end;
    justify-self: center;
}
p.join {
    justify-self: center;
    align-self: start;
    font-size: 40px;
    margin: 0;
}
p.ready-state {
    text-align: center;
    align-self: center;
    justify-self: center;
    font-size: 1.6em;
    margin: 0;
}
body {
    margin: 0;
}
body.game {
    overflow: hidden;
}
button {
    background-color: rgb(196, 196, 196);
    font-size: 1em;
    border: 1px solid black;
    border-radius: 2px;
    outline: 0;
}
button.choose {
    width: 130px;
    height: 60px;
    align-self: start;
    justify-self: center;
    text-align: center;
}
button.ready {
    align-self: top;
    justify-self: center;
    width: 130px;
    height: 60px;
    background-color: greenyellow;
}
button.unready {
    align-self: top;
    justify-self: center;
    width: 130px;
    height: 60px;
}
div.frame {
    display: grid;
    width: 100vw;
    height: 100vh;
}
div.choose-interface {
    grid-gap: 5px;
    gap: 5px;
    grid-template-rows: 40% repeat(auto-fill, 60px);
    grid-template-columns: 100%;
}
div.join-interface {
    grid-template-rows: 150px;
    grid-template-columns: 100%;
    align-content: center;
}
div.ready-interface {
    grid-template-columns: 100%;
    grid-template-rows: 9fr 3fr 8fr;
}
div.end-interface {
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
}
button:hover {
    background-color: rgb(145, 145, 145);
}
button.ready:hover {
    background-color: green;
}
canvas {
    height: 100vh;
    width: 100vw;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}
div.standing {
    background-color: rgba(128, 128, 128, 0.5);
    border: 0;
    border-radius: 2px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
    height: 285px;
    font-size: 20px;
    padding: 5px;
    width: 20vw;
    text-align: center;
}
div.game-interface-ffa {
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    z-index: 2;
}
h1.restart {
    align-self: bottom;
    justify-self: center;
    text-align: center;
    font-size: 40px;
}
button.restart {
    align-self: top;
    justify-self: center;
    width: 100px;
    height: 40px;
}